.input-field {
    small.help {
        visibility: hidden;
    }

    &:hover {
        small.help {
            visibility: visible;
        }
    }
}

.card {
    &.fields-list {
        background-color: #f3f4f6 !important;

        .module-field {
            cursor: pointer;
            background-color: #ffffff;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 10px 0;
            font-weight: bold;
        }
    }

    &.filter, &.widget {
        .chip {
            cursor: pointer;
            padding-left: 30px;

            a.delete {
                visibility: hidden;
            }

            &:hover {
                a.delete {
                    visibility: visible;
                    color: rgba(0,0,0,.6) !important;
                }
            }
        }
    }

    &.conditions-list {
        margin-top: 50px;
        background-color: #f3f4f6 !important;
    }
}

.collapsible-body {
    background-color: #f3f4f6 !important;
}

#block-field {
    .delete-block {
        display: none;

        i {
            line-height: 40px;
        }
    }

    &:hover {
        .delete-block {
            display: block;
        }
    }
}

#filter {
    .displayed-columns {
        padding: 2px 7px;
        background-color: #F2F2F2;
        border-radius: 10px;
        min-height: 40px;

        .chip {
            margin-top: 5px;
        }
    }
}

#iconsModal {
    .template {
        display: none;
    }

    h5 {
        padding: 20px 20px 10px 20px;
    }

    #icons-searchbar {
        background-color: #f3f4f6;
        padding: 1px 30px;
    }

    #icons-container {
        max-height: 450px;
        overflow-y: auto;
        margin-top: 30px;

        .icon {
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: #f3f4f6;
            }

            i.material-icons {
                font-size: 30px;
            }
        }

    }
}
